.gray-Background {
    background-color: #eaeaea;
    padding: 5px;
    font-size: 12px;
}

.gray-Background,
.right1 {
    display: flex;
    align-items: center;
}

.right1 {
    margin-left: auto; /* Push div to the right */
}

.right1 img {
    margin-right: 5px; /* Add space between images */
}

a {
    color: black;
}

