.gray-Background {
    background-color: #EAEAEA;
    padding: 6px;
    font-size:12px;
    align-items: center;   
}

.margin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

.left {
    text-align: left;
    
}

.right {
    text-align: right;
    
}

.right img {
    margin-right: 5px;
}

a{
    color:black;
}

